body{
  background-image: url(../imagenes/perro_home.jpg);
  background-size: 100%;
  box-sizing: border-box;
}
header{

  height: 15%;
  background-color: #800080;
  padding:  1%;
  border-radius: 1%;

}
img #header{

}
h1 #header{

}
a .nava{
  text-align: right;
  color:black;
}
section{
  text-align: left;
  margin-left: 10%;

}
div {
  text-align: right;
  margin-top: 0 auto;
}
}
button{

 font-family: sans-serif;
 font-size: 15px;
 color: white;
 text-decoration: none;
 background-color: transparent;
 border: none;
 padding: 15px;
}
