body{
  box-sizing: border-box;
}
header{
  overflow: hidden;
   height: 10%;
  background-color: green;

}
img #header{
  float: left;
}
h1 #header{
  float: left;
}
a #header{
  float: right;
}
section{
  text-align: center;

}
button.HD{
 float: right;
 font-family: sans-serif;
 font-size: 15px;
 color: white;
 text-decoration: none;
 background-color: transparent;
 border: none;
 padding: 15px;
}
